@tailwind base;

@tailwind components;

@tailwind utilities;

.nav-item {
    @apply text-white;
}

.link_menu {
    @apply text-sm uppercase p-2 flex justify-center items-center rounded-lg font-bold transition duration-500;
}

.dropdown {
    @apply relative group;
}

.dropdown-menu {
    @apply absolute pt-3 bg-black text-center w-full;
}

.dropdown-link {
    @apply text-sm transform uppercase font-medium;
}

.active_category {
    @apply bg-white flex flex-1 text-center items-center justify-between rounded-lg cursor-pointer shadow-2xl;
}

.active_category:hover {
    @apply transform -translate-y-2 border-purple-mazze border-b-4;
}

.navigation {
    @apply py-8 flex items-center justify-center;
}

.nav-links {
    @apply flex space-x-4;
}

.page-numbers {
    @apply border border-purple-mazze font-medium px-3 py-1 rounded text-purple-mazze;
}

.page-numbers.current {
    @apply bg-purple-mazze text-white;
}

.heateor_sss_sharing_container {
    @apply flex items-center justify-center;
}

ul.heateor_sss_follow_ul li, ul.heateor_sss_sharing_ul li {
    margin: auto !important;
}

.heateor_sss_sharing_ul {
    @apply flex justify-center space-x-1;
}

.heateor_sss_sharing_title {
    @apply mr-3;
}

.size-post-thumbnail {
    width: auto !important;

    @apply rounded-lg;
}

@screen xl {
    .size-post-thumbnail {
        width: calc(100vw/3) !important;
    }
}